.application-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.application-form {
  background-color: #272727;
  padding: 30px;
  border-radius: 10px;
  width: 40%;
}
.name-container {
  margin-bottom: 20px;
}
.application-label {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}
.name-input {
  width: 100%;
  height: 35px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 3px;
  padding: 6px;
  margin-top: 5px;
}
.submit-button-container {
  text-align: center;
  padding-top: 20px;
}
.submit-button {
  background-color: #6366f1;
  color: #ffffff;
  height: 35px;
  width: 120px;
  outline: none;
  border: 0;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  .application-container {
    padding: 20px;
  }
  .application-form {
    width: 100%;
  }
}
